<!doctype html>
<html>
<head>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
   <link href="/static/maps.css" rel="stylesheet">

    

  {% block head %}

      <!-- put extra CSS/JS here -->
  {% endblock %}

</head>
<body>
<div id="header">
	<div id="search-nav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <center>
        <form action="/results" class="navbar-form navbar-right" method="POST">
<!--             <div class="form-group">
                <input type="text" class="form-control" name="query" id="search" placeholder="Looking for?">
            </div> -->

            <div class="form-group">
                <input type="text" class="form-control" name="location" id="search" placeholder="Your destination">
            </div>
            <button id ="submit-button" type="submit" value="search"class="btn btn-default">Search</button>
            </form>
            <div id="login-welcome">
            {% if "firstname" not in session %}
            <button type="button" id ="login-button" class="btn btn-primary" data-toggle="modal" data-target="#myLoginModal">Log In</button>
            <button type="button" id ="Signup-button" class="btn btn-primary" data-toggle="modal" data-target="#mySignUpModal">Sign Up</button>

            {% else %}

             <div id="greeting" >
                <h4>Welcome&nbsp;</h4><h4>{{ session['firstname']}}</h4>
                &nbsp;&nbsp;&nbsp;
                
                  <div class="dropdown">
                  <button type="button" id ="folderList" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" ><span class="glyphicon glyphicon-folder-close"></span>&nbsp;Folders List&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu list-of-folders">

                      {% for folder in folders %}
                      <li class="folders"><a href="#">{{ folder.folder_name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>

                  

                <div class="nav pull-right">
                <a href="/log-out"><button type="button" name="logout" id ="Logout-button" class="btn btn-primary" >Log out</button></a></div>

            </div>
            {% endif %}      
	         </div>
	    </center>
	    </div>
	</div>
	</div>
</div>	



{% block body %}

{% endblock %}


    <!-- Modal window for Log in button-->
<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Log In
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" action="/logged-in" method="POST" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputUsername">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                        id="inputEmail3" name="username" placeholder="Username"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputPassword3" >Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control"
                            id="inputPassword3" name="password" placeholder="Password"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                            <input type="checkbox"/><p> Remember me</p>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                  </div>
                </form>
           </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                            Close
                </button>
               <!--  <button type="button" class="btn btn-primary">
                    Save changes
                </button> -->
            </div>
        </div>
    </div>
</div>






    <!-- Modal window for Sign up button-->
<div class="modal fade" id="mySignUpModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Sign Up
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" action="/submit" method="POST" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputFirstName">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="firstname" class="form-control" 
                        id="inputFirstName" placeholder="First Name"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputLastName" >Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastname"
                            id="inputLastName" placeholder="Last Name"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputemail" >Email Address</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email"
                            id="inputEmail" placeholder="Email Address"/>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputUserName" >User Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="username"
                            id="inputUserName" placeholder="Username"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputPassword" >Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password"
                            id="inputPassword" placeholder="Password"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                            <input type="checkbox"/><p> Remember me</p>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Sign Up</button>
                    </div>
                  </div>
                </form>
           </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
               <!--  <button type="button" class="btn btn-primary">
                    Save changes
                </button> -->
            </div>
        </div>
    </div>
</div>


{% if session.get('logged_in_user') %}
<p>Logged in</p>
{% else %}
<p>Not logged in</p>

<!-- Log in button should be changed to user name upon logged in. And Sign up page should be changed to log out button
 -->



{% endif %}


<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="/static/js/map.js"></script>
{% block js %}
<!-- put page-specific JS here on other templates -->
{% endblock %}
</body>
</html>