{% extends 'base.html' %}
{% block head %}

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/js/mapstyles.js"></script>
    <script src="/static/maps.js"></script>
    


{% endblock %}


{% block body %}


{% for place in api_result %}

<div class="yelpImage list_container" id="{{ place['id'] }}">
	{% if place['name'] %}
	<h4>{{place['name']}}</h4>
	{% endif %}
	<p class="placePhone"><b>{{ place.get('display_phone') }}</b></p>
	{% if place.get('image_url') %}
	<div class="image-container"><img src="{{ place['image_url'] }}" alt="snippet_image"></div>
	{% else %}
	<div class="image-container"><img src="static/img/placeholder.png" alt="image placeholder" style="width:100px;height:100px;"></div>
	{% endif %}
	<a href="{{ place.get('url')}}" > Click to view on Yelp</a>
	<br><br>
	<p>{{ place.get('snippet_text') }}</p><br><br>
	{% if place['location']['address'] %}
	<p>{{ place['location']['address'][0] }}</p><br>
	{% endif %}
	<p>{{ place['location']['city'] }}</p>
</div>


<!-- Modal -->

<div class="modal fade" id="modal{{ place['id'] }}" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-body">
			{% if place['name'] %}
			<h4 id="{{ place['id'] }}-name">{{place['name']}}</h4>
			{% endif %}
			<p class="placePhone"><b>{{ place.get('display_phone') }}</b></p>
			{% if place.get('image_url') %}
			<div class="image-container"><img src="{{ place['image_url'] }}" alt="snippet_image"></div>
			{% else %}
			<div class="image-container"><img src="static/img/placeholder.png" alt="image placeholder" style="width:100px;height:100px;"></div>
			{% endif %}
			<button id="{{ place['id'] }}-save" class="btn btn-default">Save to Folder</button>


			<!-- add save button to be saved in database -->
				<div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}            
{% endblock %}


    
{% block js %}
<script src="/static/js/map.js"></script>
<!-- 
<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
}
</script>
 -->



<!-- put page-specific JS here on other templates -->
{% endblock %}



